h1,
h2,
p {
    font-size: medium;
    color: azure;
}

header,
article {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    background-color: #0f0f0f;
    padding: 1em;

}

body {
    background-image: url(stars-one-constellation-easiest-Orion-group-line.webp);
}

iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 720px;
}

img {
    width: 99%;
    height: auto;
    margin: 0 auto;

}